# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { map } for  pid=745 comm="sa_main" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:local_code_sign:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { open } for  pid=767 comm="sa_main" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:local_code_sign:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { read } for  pid=790 comm="sa_main" name="u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:local_code_sign:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
allow local_code_sign hiviewdfx_hiview_param:file { map open read };

# avc:  denied  { map } for  pid=745 comm="sa_main" path="/dev/__parameters__/u:object_r:persist_param:s0" dev="tmpfs" ino=92 scontext=u:r:local_code_sign:s0 tcontext=u:object_r:persist_param:s0 tclass=file permissive=0
# avc:  denied  { open } for  pid=767 comm="sa_main" path="/dev/__parameters__/u:object_r:persist_param:s0" dev="tmpfs" ino=92 scontext=u:r:local_code_sign:s0 tcontext=u:object_r:persist_param:s0 tclass=file permissive=0
# avc:  denied  { read } for  pid=790 comm="sa_main" name="u:object_r:persist_param:s0" dev="tmpfs" ino=92 scontext=u:r:local_code_sign:s0 tcontext=u:object_r:persist_param:s0 tclass=file permissive=0
allow local_code_sign persist_param:file { map open read };
