# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

typeattribute security_component_service devinfo_type_allow_attr;

# avc:  denied  { open } for  pid=2356 comm="sa_main" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:security_component_service:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { open } for  pid=2356 comm="sa_main" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:security_component_service:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
allow security_component_service hiviewdfx_hiview_param:file { open read map };

# avc:  denied  { read } for  pid=2356 comm="sa_main" name="u:object_r:persist_param:s0" dev="tmpfs" ino=92 scontext=u:r:security_component_service:s0 tcontext=u:object_r:persist_param:s0 tclass=file permissive=0
allow security_component_service persist_param:file { open read map };

# avc:  denied  { read } for  pid=2738 comm="security_compon" name="u:object_r:devinfo_type_param:s0" dev="tmpfs" ino=137 scontext=u:r:security_component_service:s0 tcontext=u:object_r:devinfo_type_param:s0 tclass=file permissive=0
allow security_component_service devinfo_type_param:file { read open map };

# avc:  denied  { read } for  pid=2738 comm="security_compon" name="u:object_r:arkcompiler_param:s0" dev="tmpfs" ino=107 scontext=u:r:security_component_service:s0 tcontext=u:object_r:arkcompiler_param:s0 tclass=file permissive=0
# avc:  denied  { read } for  pid=2738 comm="security_compon" name="u:object_r:arkcompiler_param:s0" dev="tmpfs" ino=107 scontext=u:r:security_component_service:s0 tcontext=u:object_r:arkcompiler_param:s0 tclass=file permissive=0
allow security_component_service arkcompiler_param:file { read open map };

# avc:  denied  { search } for  pid=2738 comm="security_compon" name="usr" dev="sda46" ino=5061 scontext=u:r:security_component_service:s0 tcontext=u:object_r:system_usr_file:s0 tclass=dir permissive=0
allow security_component_service system_usr_file:dir { search };

# avc:  denied  { getattr } for  pid=2633 comm="security_compon" path="/system/usr/ohos_locale_config/region/supported_regions.xml" dev="sda46" ino=5133 scontext=u:r:security_component_service:s0 tcontext=u:object_r:system_usr_file:s0 tclass=file permissive=0
# avc:  denied  { map } for  pid=2312 comm="security_compon" path="/system/usr/ohos_icu/icudt72l.dat" dev="sda46" ino=5120 scontext=u:r:security_component_service:s0 tcontext=u:object_r:system_usr_file:s0 tclass=file permissive=0
# avc:  denied  { open } for  pid=2672 comm="security_compon" path="/system/usr/ohos_icu/icudt72l.dat" dev="sda46" ino=5120 scontext=u:r:security_component_service:s0 tcontext=u:object_r:system_usr_file:s0 tclass=file permissive=0
# avc:  denied  { read } for  pid=2633 comm="security_compon" name="supported_locales_old.xml" dev="sda46" ino=5135 scontext=u:r:security_component_service:s0 tcontext=u:object_r:system_usr_file:s0 tclass=file permissive=0
allow security_component_service system_usr_file:file { getattr map open read };

# avc:  denied  { search } for  pid=2738 comm="security_compon" name="etc" dev="sda47" ino=24 scontext=u:r:security_component_service:s0 tcontext=u:object_r:vendor_etc_file:s0 tclass=dir permissive=0
#allow security_component_service vendor_etc_file:dir { search };
