# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { connectto } for  pid=815 comm="riladapter_host" path=006D6F64656D64 scontext=u:r:riladapter_host:s0 tcontext=u:r:chipset_init:s0 tclass=unix_stream_socket permissive=0
allow riladapter_host chipset_init:unix_stream_socket { connectto };

# avc:  denied  { map } for  pid=820 comm="hdf_devhost" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { open } for  pid=793 comm="hdf_devhost" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { read } for  pid=806 comm="hdf_devhost" name="u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
allow riladapter_host hiviewdfx_hiview_param:file { map open read };

# avc:  denied  { write } for  pid=1932 comm="sh" name="stty_lte31" dev="tmpfs" ino=649 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_file:s0 tclass=file permissive=1
# avc:  denied  { open } for  pid=1932 comm="sh" path="/dev/stty_lte31" dev="tmpfs" ino=649 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_file:s0 tclass=file permissive=1
allow riladapter_host dev_file:file { open write };

# avc:  denied  { set } for parameter=vendor.net.sipa_eth0.iptype pid=797 uid=3032 gid=3032 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:default_param:s0 tclass=parameter_service permissive=1
allow riladapter_host net_param:parameter_service { set };

# avc:  denied  { set } for parameter=persist.vendor.radio.sys.usb.tether.rx pid=791 uid=3032 gid=3032 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:persist_param:s0 tclass=parameter_service permissive=1
allow riladapter_host persist_param:parameter_service { set };

# by chris: Identifying the SIM card is necessary.
# avc:  denied  { dac_override } for  pid=792 comm="riladapter_host" capability=1  scontext=u:r:riladapter_host:s0 tcontext=u:r:riladapter_host:s0 tclass=capability permissive=0
allow riladapter_host riladapter_host:capability { dac_override };

# avc:  denied  { set } for parameter=ril.sys.usb.tether.iface pid=799 uid=3032 gid=3032 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:default_param:s0 tclass=parameter_service permissive=1
allow riladapter_host sys_usb_param:parameter_service { set };

# avc:  denied  { search } for  pid=835 comm="riladapter_host" name="block" dev="tmpfs" ino=6 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_block_volfile:s0 tclass=dir permissive=0
allow riladapter_host dev_block_volfile:dir { search };

# add data 0326 : SIM card recognition 
typeattribute riladapter_host dev_attr_violator;
# avc:  denied  { open } for  pid=820 comm="riladapter_host" path="/dev/block/sda6" dev="tmpfs" ino=300 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
# avc:  denied  { read write } for  pid=820 comm="riladapter_host" name="sda6" dev="tmpfs" ino=300 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
allow riladapter_host dev_block_file:blk_file { open read write };
#allow riladapter_host sml_block_file:blk_file { open read write };

# avc:  denied  { search } for  pid=820 comm="riladapter_host" name="by-name" dev="tmpfs" ino=14 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=dir permissive=1
allow riladapter_host dev_block_file:dir { search };

# avc:  denied  { read } for  pid=820 comm="riladapter_host" name="sml_a" dev="tmpfs" ino=302 scontext=u:r:riladapter_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=lnk_file permissive=1
allow riladapter_host dev_block_file:lnk_file { read };
#allow riladapter_host sml_block_file:lnk_file { read };

# add by xqb
allow riladapter_host proc_cmdline_file:file { read open map };

allow riladapter_host dev_file:dir { add_name write };
allow riladapter_host dev_file:file { create write open };
allow riladapter_host dev_file:lnk_file { read };
allow riladapter_host dev_pts_file:dir { search read };
allow riladapter_host devpts:chr_file { ioctl open read write };
allow riladapter_host kernel:unix_stream_socket { connectto };
allow riladapter_host paramservice_socket:sock_file { write };
allowxperm riladapter_host devpts:chr_file ioctl { 0x5401 0x5402 };

#allow riladapter_host default_param:parameter_service { set };
