# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { getattr } for  pid=3364 comm="ThreadPoolForeg" path="/system/fonts" dev="sda46" ino=1652 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:system_fonts_file:s0 tclass=dir permissive=0
allow system_core_hap system_fonts_file:dir { getattr };

# avc:  denied  { read } for  pid=3364 comm="ThreadPoolForeg" name="Roboto-Regular.ttf" dev="sda46" ino=1848 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:system_fonts_file:s0 tclass=lnk_file permissive=0
#allow system_core_hap system_fonts_file:lnk_file { read };

# avc:  denied  { open } for  pid=3101 comm="RSRenderThread" path="/vendor/lib64/hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
# avc:  denied  { read } for  pid=3066 comm="RSRenderThread" name="hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
allow system_core_hap vendor_lib_file:dir { open read };

# avc:  denied  { ioctl } for  pid=3358 comm="com.ohos.camera" path="/dev/access_token_id" dev="tmpfs" ino=361 ioctlcmd=0x5413 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_at_file:s0 tclass=chr_file permissive=0
allow system_core_hap dev_at_file:chr_file { ioctl };
allowxperm system_core_hap dev_at_file:chr_file ioctl { 0x5413 };

# avc:  denied  { ioctl } for  pid=3358 comm="com.ohos.camera" path="/dev/access_token_id" dev="tmpfs" ino=361 ioctlcmd=0x5413 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_at_file:s0 tclass=chr_file permissive=0
allow system_core_hap dev_at_file:chr_file { ioctl };

# avc:  denied  { getattr } for  pid=3364 comm="ThreadPoolForeg" path="/system/fonts" dev="sda46" ino=1652 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:system_fonts_file:s0 tclass=dir permissive=0
allow system_core_hap system_fonts_file:dir { getattr };

# avc:  denied  { open } for  pid=3101 comm="RSRenderThread" path="/vendor/lib64/hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
# avc:  denied  { read } for  pid=3066 comm="RSRenderThread" name="hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
allow system_core_hap vendor_lib_file:dir { open read };

# avc:  denied  { ioctl } for  pid=3358 comm="com.ohos.camera" path="/dev/access_token_id" dev="tmpfs" ino=361 ioctlcmd=0x5413 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_at_file:s0 tclass=chr_file permissive=0
allowxperm system_core_hap dev_at_file:chr_file ioctl { 0x5413 };

# avc:  denied  { read write } for  pid=875 comm="OS_IPC_3_1229" path=2F646174612F6173686D656D2F616E64726F69642D6173686D656D2D3831342D585858706650496B4A202864656C6574656429 dev="sda62" ino=17936 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:data_ashmem_file:s0 tclass=file permissive=0
allow system_core_hap data_ashmem_file:file { read write map };

# avc:  denied  { set } for parameter=bootevent.wms.fullscreen.ready.true pid=2021 uid=20010016 gid=20010016 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:bootevent_wms_param:s0 tclass=parameter_service permissive=1
allow system_core_hap bootevent_wms_param:parameter_service { set };

# avc:  denied  { set } for parameter=init.sceneboard.finish pid=2021 uid=20010016 gid=20010016 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:default_param:s0 tclass=parameter_service permissive=1
allow system_core_hap init_sceneboard_param:parameter_service { set };

# avc:  denied  { search } for  pid=2881 comm="RSRenderThread" name="block" dev="tmpfs" ino=6 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_block_volfile:s0 tclass=dir permissive=1
allow system_core_hap dev_block_volfile:dir { search };

# avc:  denied  { search } for  pid=2881 comm="RSRenderThread" name="by-name" dev="tmpfs" ino=14 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_block_file:s0 tclass=dir permissive=1
allow system_core_hap dev_block_file:dir { search };

# avc:  denied  { read } for  pid=2881 comm="RSRenderThread" name="sml_a" dev="tmpfs" ino=302 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:sml_block_file:s0 tclass=lnk_file permissive=1
allow system_core_hap sml_block_file:lnk_file { read };

# avc:  denied  { read } for  pid=2881 comm="RSRenderThread" name="sda6" dev="tmpfs" ino=300 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:sml_block_file:s0 tclass=blk_file permissive=1
# avc:  denied  { open } for  pid=2881 comm="RSRenderThread" path="/dev/block/sda6" dev="tmpfs" ino=300 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:sml_block_file:s0 tclass=blk_file permissive=1
allow system_core_hap sml_block_file:blk_file { read open };

# avc:  denied  { search } for  pid=4148 comm="OS_FFRT_3_2" name="com.ohos.medialibrary.medialibrarydata" dev="sda63" ino=1909 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:medialibrary_hap_data_file:s0 tclass=dir permissive=1
allow system_core_hap medialibrary_hap_data_file:dir { search };

# avc:  denied  { ioctl } for  pid=4148 comm="OS_FFRT_3_2" path="/data/medialibrary/database/rdb/media_library.db" dev="sda63" ino=3210 ioctlcmd=0xf546 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:medialibrary_hap_data_file:s0 tclass=file permissive=1
# avc:  denied  { map } for  pid=4148 comm="OS_FFRT_3_2" path="/data/medialibrary/database/rdb/media_library.db-dwr" dev="sda63" ino=3211 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:medialibrary_hap_data_file:s0 tclass=file permissive=1
# avc:  denied  { lock } for  pid=4148 comm="OS_FFRT_3_2" path="/data/medialibrary/database/rdb/media_library.db" dev="sda63" ino=3210 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:medialibrary_hap_data_file:s0 tclass=file permissive=1
# avc:  denied  { ioctl } for  pid=2878 comm="OS_FFRT_3_1" path="/data/medialibrary/database/rdb/media_library.db" dev="sda63" ino=3210 ioctlcmd=0xf50c scontext=u:r:system_core_hap:s0 tcontext=u:object_r:medialibrary_hap_data_file:s0 tclass=file permissive=0
allow system_core_hap medialibrary_hap_data_file:file { ioctl map lock };
allowxperm system_core_hap medialibrary_hap_data_file:file ioctl { 0xf546 0xf50c };

# avc:  denied  { search } for  pid=2878 comm="hos.photos:form" name="etc" dev="sda49" ino=12 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:sys_prod_file:s0 tclass=dir permissive=0
allow system_core_hap sys_prod_file:dir { search };

# avc:  denied  { set } for parameter=systemui.poweroff.verify pid=2021 uid=20010015 gid=20010015 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:default_param:s0 tclass=parameter_service permissive=1
allow system_core_hap default_param:parameter_service { set };
