# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# avc:  denied  { getattr } for  pid=3364 comm="ThreadPoolForeg" path="/system/fonts" dev="sda46" ino=1652 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:system_fonts_file:s0 tclass=dir permissive=0
allow system_core_hap system_fonts_file:dir { getattr };

# avc:  denied  { read } for  pid=3364 comm="ThreadPoolForeg" name="Roboto-Regular.ttf" dev="sda46" ino=1848 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:system_fonts_file:s0 tclass=lnk_file permissive=0
#allow system_core_hap system_fonts_file:lnk_file { read };

# avc:  denied  { open } for  pid=3101 comm="RSRenderThread" path="/vendor/lib64/hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
# avc:  denied  { read } for  pid=3066 comm="RSRenderThread" name="hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
allow system_core_hap vendor_lib_file:dir { open read };

# avc:  denied  { ioctl } for  pid=3358 comm="com.ohos.camera" path="/dev/access_token_id" dev="tmpfs" ino=361 ioctlcmd=0x5413 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_at_file:s0 tclass=chr_file permissive=0
allow system_core_hap dev_at_file:chr_file { ioctl };
allowxperm system_core_hap dev_at_file:chr_file ioctl { 0x5413 };

# avc:  denied  { ioctl } for  pid=3358 comm="com.ohos.camera" path="/dev/access_token_id" dev="tmpfs" ino=361 ioctlcmd=0x5413 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_at_file:s0 tclass=chr_file permissive=0
allow system_core_hap dev_at_file:chr_file { ioctl };

# avc:  denied  { getattr } for  pid=3364 comm="ThreadPoolForeg" path="/system/fonts" dev="sda46" ino=1652 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:system_fonts_file:s0 tclass=dir permissive=0
allow system_core_hap system_fonts_file:dir { getattr };

# avc:  denied  { open } for  pid=3101 comm="RSRenderThread" path="/vendor/lib64/hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
# avc:  denied  { read } for  pid=3066 comm="RSRenderThread" name="hw" dev="sda47" ino=249 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:vendor_lib_file:s0 tclass=dir permissive=0
allow system_core_hap vendor_lib_file:dir { open read };

# avc:  denied  { ioctl } for  pid=3358 comm="com.ohos.camera" path="/dev/access_token_id" dev="tmpfs" ino=361 ioctlcmd=0x5413 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:dev_at_file:s0 tclass=chr_file permissive=0
allowxperm system_core_hap dev_at_file:chr_file ioctl { 0x5413 };

# avc:  denied  { read write } for  pid=875 comm="OS_IPC_3_1229" path=2F646174612F6173686D656D2F616E64726F69642D6173686D656D2D3831342D585858706650496B4A202864656C6574656429 dev="sda62" ino=17936 scontext=u:r:system_core_hap:s0 tcontext=u:object_r:data_ashmem_file:s0 tclass=file permissive=0
allow system_core_hap data_ashmem_file:file { read write map };
