# Copyright (c) 2023 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


allow camera_host dev_vpu_file:chr_file { open read write map ioctl };

# avc:  denied  { read write } for  pid=840 comm="camera_host" name="sprd_sensor" dev="tmpfs" ino=371 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { open } for  pid=843 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { map } for  pid=2069 comm="jpeg_async" path="/dev/sprd_jpg" dev="tmpfs" ino=366 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
allow camera_host dev_sprd_file:chr_file { open read write map ioctl };

# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x520b scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5200 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5209 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5204 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5201 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5202 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=854 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5203 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x520b 0x5200 0x5209 0x5204 0x5201 0x5202 0x5203 };

# avc:  denied  { ioctl } for  pid=3735 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x521a scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3735 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5208 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3735 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x520a scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3735 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5210 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3735 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x521b scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3799 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5200 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3799 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5209 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=813 comm="sn_ctrl" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x520c scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=813 comm="pmg_thread" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5217 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x521a 0x5208 0x520a 0x5210 0x521b 0x5200 0x5209 0x520c 0x5217 };

# avc:  denied  { ioctl } for  pid=3136 comm="sn_ctrl" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x520e scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3283 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x520f scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3136 comm="sensor_oem" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5212 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3283 comm="camera_host" path="/dev/sprd_sensor" dev="tmpfs" ino=371 ioctlcmd=0x5213 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x520e 0x520f 0x5212 0x5213 };

# avc:  denied  { ioctl } for  pid=813 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a00 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=805 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a02 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=794 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a03 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=822 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a09 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=1684 comm="afctrl" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a12 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=2069 comm="camera_host" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a18 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=1684 comm="afctrl" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a29 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3176 comm="camera_host" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a2e scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=822 comm="OS_IPC_1_1043" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a2f scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3328 comm="camera_host" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a46 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3136 comm="camera_host" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a52 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x5a00 0x5a02 0x5a03 0x5a09 0x5a12 0x5a18 0x5a29 0x5a2e 0x5a2f 0x5a46 0x5a52 };

# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a20 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a07 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a11 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a36 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a44 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a14 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a0b scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a1d scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=799 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a05 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x5a20 0x5a07 0x5a11 0x5a36 0x5a44 0x5a14 0x5a0b 0x5a1d 0x5a05 };

# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a10 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a51 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a13 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a04 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a0a scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a1f scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a25 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a31 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=818 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a54 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x5a10 0x5a51 0x5a13 0x5a04 0x5a0a 0x5a1f 0x5a25 0x5a31 0x5a54 };

# avc:  denied  { ioctl } for  pid=813 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a28 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=813 comm="ispmw2" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a28 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=813 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a01 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=813 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a0e scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=813 comm="prev" path="/dev/sprd_image" dev="tmpfs" ino=389 ioctlcmd=0x5a0f scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x5a28 0x5a01 0x5a0e 0x5a0f };

# avc:  denied  { ioctl } for  pid=2069 comm="res_init" path="/dev/sprd_cpp" dev="tmpfs" ino=392 ioctlcmd=0x6d01 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3328 comm="res_init" path="/dev/sprd_cpp" dev="tmpfs" ino=392 ioctlcmd=0x6d04 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x6d01 0x6d04 };

# avc:  denied  { ioctl } for  pid=810 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=366 ioctlcmd=0x6d03 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=822 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=366 ioctlcmd=0x6d05 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=810 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=366 ioctlcmd=0x6d08 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=810 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=366 ioctlcmd=0x6d0b scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=810 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=366 ioctlcmd=0x6d06 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=820 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=367 ioctlcmd=0x6d0e scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_sprd_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=820 comm="jpg_msg" path="/dev/sprd_jpg" dev="tmpfs" ino=367 ioctlcmd=0x6d0c scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_sprd_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_sprd_file:chr_file ioctl { 0x6d03 0x6d05 0x6d08 0x6d0b 0x6d06 0x6d0e 0x6d0c };

# avc:  denied  { ioctl } for  pid=3290 comm="OS_IPC_3_3644" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d0a scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3290 comm="OS_IPC_3_3644" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d0e scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=3290 comm="OS_IPC_3_3644" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d0d scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=0
# avc:  denied  { ioctl } for  pid=790 comm="OS_IPC_3_3226" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d10 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=790 comm="OS_IPC_3_3226" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d0f scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=790 comm="OS_IPC_3_3226" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d07 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=790 comm="OS_IPC_3_3226" path="/dev/vpu_enc0" dev="tmpfs" ino=577 ioctlcmd=0x6d0c scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_vpu_file:chr_file ioctl { 0x6d0a 0x6d0e 0x6d0d 0x6d10 0x6d0f 0x6d07 0x6d0c };

# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d05 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d0b scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d06 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d01 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d03 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d08 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
# avc:  denied  { ioctl } for  pid=829 comm="OS_IPC_1_852" path="/dev/vpu_enc0" dev="tmpfs" ino=578 ioctlcmd=0x6d04 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_vpu_file:s0 tclass=chr_file permissive=1
allowxperm camera_host dev_vpu_file:chr_file ioctl { 0x6d01 0x6d03 0x6d04 0x6d05 0x6d06 0x6d08 0x6d0b };

# avc:  denied  { write } for  pid=818 comm="camera_host" name="camera_sensor_name" dev="sysfs" ino=44694 scontext=u:r:camera_host:s0 tcontext=u:object_r:sys_file:s0 tclass=file permissive=0
allow camera_host sys_file:file { open read write };

# avc:  denied  { search } for  pid=818 comm="camera_host" name="vendor" dev="sda62" ino=117 scontext=u:r:camera_host:s0 tcontext=u:object_r:data_vendor:s0 tclass=dir permissive=0
allow camera_host data_vendor:dir { search };

# avc:  denied  { search } for  pid=3328 comm="isp_awb_init" name="misc" dev="sda62" ino=115 scontext=u:r:camera_host:s0 tcontext=u:object_r:data_misc:s0 tclass=dir permissive=0
allow camera_host data_misc:dir { search };

# avc:  denied  { transfer } for  pid=3087 comm="OS_IPC_2_3096" scontext=u:r:camera_host:s0 tcontext=u:r:render_service:s0 tclass=binder permissive=0
allow camera_host render_service:binder { transfer };

# avc:  denied  { transfer } for  pid=3087 comm="OS_IPC_2_3096" scontext=u:r:camera_host:s0 tcontext=u:r:system_core_hap:s0 tclass=binder permissive=0
allow camera_host system_core_hap:binder { transfer };

# avc:  denied  { read write } for  pid=1073 comm="OS_IPC_5_2674" path=*** dev="sda62" ino=7554 scontext=u:r:camera_host:s0 tcontext=u:object_r:data_file:s0 tclass=file permissive=1
#allow camera_host data_file:file { read write };

# avc:  denied  { read } for  pid=873 comm="OS_IPC_5_2898" name="u:object_r:arkcompiler_param:s0" dev="tmpfs" ino=107 scontext=u:r:camera_service:s0 tcontext=u:object_r:arkcompiler_param:s0 tclass=file permissive=1
# avc:  denied  { open } for  pid=873 comm="OS_IPC_5_2898" path="/dev/__parameters__/u:object_r:arkcompiler_param:s0" dev="tmpfs" ino=107 scontext=u:r:camera_service:s0 tcontext=u:object_r:arkcompiler_param:s0 tclass=file permissive=1
# avc:  denied  { map } for  pid=873 comm="OS_IPC_5_2898" path="/dev/__parameters__/u:object_r:arkcompiler_param:s0" dev="tmpfs" ino=107 scontext=u:r:camera_service:s0 tcontext=u:object_r:arkcompiler_param:s0 tclass=file permissive=1
allow camera_host arkcompiler_param:file { read open map };

# avc:  denied  { transfer } for  pid=778 comm="OS_IPC_3_3274" scontext=u:r:camera_host:s0 tcontext=u:r:media_service:s0 tclass=binder permissive=0
allow camera_host media_service:binder { transfer };

# avc:  denied  { map } for  pid=3446 comm="hdf_devhost" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:camera_host:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { open } for  pid=3193 comm="hdf_devhost" path="/dev/__parameters__/u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:camera_host:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
# avc:  denied  { read } for  pid=3341 comm="hdf_devhost" name="u:object_r:hiviewdfx_hiview_param:s0" dev="tmpfs" ino=131 scontext=u:r:camera_host:s0 tcontext=u:object_r:hiviewdfx_hiview_param:s0 tclass=file permissive=0
allow camera_host hiviewdfx_hiview_param:file { read open map };

# avc:  denied  { read write } for  pid=875 comm="OS_IPC_0_1196" path=2F646174612F6173686D656D2F616E64726F69642D6173686D656D2D3831342D58585844434E624844202864656C6574656429 dev="sda62" ino=17946 scontext=u:r:camera_host:s0 tcontext=u:object_r:data_ashmem_file:s0 tclass=file permissive=0
allow camera_host data_ashmem_file:file { read write map };

# avc:  denied  { read } for  pid=787 comm="jpeg_async" name="sda6" dev="tmpfs" ino=300 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
# avc:  denied  { open } for  pid=787 comm="jpeg_async" path="/dev/block/sda6" dev="tmpfs" ino=300 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=blk_file permissive=1
#allow camera_host dev_block_file:blk_file { read open };
allow camera_host sml_block_file:blk_file { read open };

# avc:  denied  { read } for  pid=826 comm="RSUniRenderThre" name="sml_a" dev="tmpfs" ino=302 scontext=u:r:camera_host:s0 tcontext=u:object_r:dev_block_file:s0 tclass=lnk_file permissive=1
#allow camera_host dev_block_file:lnk_file { read };
allow camera_host sml_block_file:lnk_file { read };
